.home_box
  margin-top: 20px
  padding-left: 30px
  .box-card
    box-sizing: border-box
    margin-bottom: 5px
    cursor pointer
    .artice
      height 100px
      border-bottom: 1px solid rgba(178,186,194,.4)
      line-height: 20px
      .info, .setting
        font-size: 12px
        color: #666
        span, i
          padding-right: 5px
      .title
        margin: 10px 0
        font-size: 18px
        &:hover
          color: #20a0ff
  .right
    position: fixed
    right 10px
