.login_box
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  height 100%
  background url('../../assets/images/sanfufox.jpg') center center no-repeat
  .login-form 
    // max-width 300px
  .login-form-forgot
    float: right;
  .login-form-button
    width: 100%;